.header_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem 1rem;
  border-bottom: 1px solid #ccc;

  .header_item_details {
    display: flex;
    align-items: center;
    gap: 1rem;

    h4 {
      font-weight: bold;
    }

    p {
      font-weight: 100;
    }
  }

  .header_icon_container {
    display: flex;
    gap: 1rem;

    svg {
      font-size: 1.3rem;
      font-weight: 300;
    }
  }
}
